
.wraper {
    padding: 0;
}

.boarder {
    padding: 0;
}

.container {
    background-color: green;
}

.row {
    margin: 0;
    padding: 0;
    background-color: yellow;
}

.row div {
    margin: 0;
    padding: 0;
    height: 100px;
    background-color: yellow;
}

