/** {
    margin: 0;
    padding: 0;
}*/

.container-fluid {
    padding: 0;
}

.container {
    width: 1000px;
    max-width: 1000px; 
    padding: 0;
}

.row {
    margin: 0;
}

/*header*/
.headerRow {
    height: 60px;
}

.headerRow .col-lg-12 {
    padding: 0;
    height: 60px;
}

/*顶部的 Logo*/
.headerLogo {
    display: block;
    float: left;
    /*position: absolute;*/
    width: 168px;
    left: 0;
    top: 0;
    height: 60px;
    outline: 0;
}

/*设为主页*/
.settingHomePage {
    display: block;
    float: left;
    height: 36px;
    width: 36px;
    text-align: center;
    margin-top: 12px;
    padding: 2px;
    border-radius: 3px;
    background-color: #07ac72;
    color: white;
    font-size: 12px;
}

/*wether*/
.headerWether {
    display: block;
    float: left;
    width: 300px;
    font-size: 12px;
    height: 100%;
}

.wetherSeletedCity {
    display: block;
    height: 100%;
    width: 30px;
}
